{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/profile" method="POST" enctype="multipart/form-data">
        <h3>We Want to Learn More About You!</h3>
            <!-- name -->
            <p>What's your name?</p>
            <div class = "mb-3">
                <input autocomplete = "off" autofocus class = "form-control mx-auto w-auto" id = "name" name = "name" placeholder = "Name" type = "text">
            </div>

       <!-- birthday -->
       <p>When's your birthday??</p>
       <div class = "mb-3">
           <input autocomplete = "off" autofocus class = "form-control mx-auto w-auto" id = "birthday" name = "birthday" placeholder = "Your Birthday" type = "date">
       </div>

       <!-- profile picture -->
       <p>Profile Picture (no spaces in its name)</p>
       <div class = "mb-3">
           <input type="file" name="image" id="image">
       </div>

       <!-- hometown -->
       <p>What's your hometown?</p>
       <div class="mb-3">
           <input class="form-control mx-auto w-auto" id="hometown" name="hometown" placeholder="Hometown" type="text">
       </div>

       <!-- brand -->
       <p>What's your favorite clothing brand?</p>
       <div class="mb-3">
           <input class="form-control mx-auto w-auto" id="brand" name="brand" placeholder="Your Favorite Brand" type="text">
       </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
{% endblock %}